<h1>Here is the navbar {{user.name}}</h1>

<nav>

     <div class="twelve columns header_nav">
     <div class="row">
      
        <ul id="menu-header" class="nav-bar horizontal">
        
         <li class="active"><a href="index.html">Home</a></li>
      
          <li class="has-flyout">
           <a href="#">Example Pages</a><a href="#" class="flyout-toggle"></a>
            <ul class="flyout"><!-- Flyout Menu -->
              <li class="has-flyout"><a href="blog.html">Blog</a></li>
              <li class="has-flyout"><a href="blog_single.html">Blog Single Page</a></li>
              <li class="has-flyout"><a href="products-page.html">Products Page</a></li>
              <li class="has-flyout"><a href="product-single.html">Product Single</a></li>
              <li class="has-flyout"><a href="pricing-table.html">Pricing Table</a></li>
              <li class="has-flyout"><a href="contact.html">Contact Page</a></li>
            </ul> 
          </li><!-- END Flyout Menu -->
      
          <li class=""><a href="galleries.html">Boxed Gallery</a></li>
          <li class=""><a href="portfolio.html">Portfolio Gallery</a></li>
          <li class=""><a href="pinterest-style.html">Pinterest Gallery</a></li>
          <li class=""><a href="tiles.html">Tiles</a></li>
      
        </ul>
        
      </div>  
      </div>
      
</nav>


 <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Playfair+Display:400italic' rel='stylesheet' type='text/css' />